.topandbottom
{
    background-color: black;
    color: aliceblue;

    font-size: 150%;
}

.para
{
    background-color: lightcoral;
    font-size: 120%;
}

body
{
    background-color: rgb(134, 24, 68);
}
